:root {
  --background-color: #141414; 
  --text-color: #ffffff;       
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}